<div ng-controller="filejoblog.setting">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">UI Selects</h1>
    </div>
    <div class="wrapper-md">
        <!--
        <div class="m-b" ng-repeat="jobTable in jobTables">
            <span class="label text-base bg-warning pos-rlt m-r"><i class="arrow right arrow-warning"></i>{{jobTable.jobName}}</span>
            <select ui-jq="chosen" class="w-md" ng-model="jobTable.tableName">
                <option ng-selected="selectNCC(jobTable.tableName,item) ng-value=" item" ng-repeat="item in allBaseData.tablenames">{{item}}</option>
            </select>
        </div>
            -->
        <!--ok
              <div ng-repeat="jobTable in jobTables">
                  <div class="line line-dashed b-b line-lg pull-in"></div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">{{jobTable.jobName}}</label>
                      <div class="col-sm-10">
                          <select ng-change="selectchange(jobTable.jobName,jobTable.tableName)" class="w-md" ng-model="jobTable.tableName">
                              <option ng-disabled="jobTable.tableName != r.tableName && r.jobName !=-1" ng-selected="selectNCC(jobTable.tableName,r.tableName)" ng-value="r.tableName" ng-repeat="r in allSelectTables">{{$index}}.{{r.tableName}}</option>
                          </select>
                      </div>
                  </div>
                  <div ng-show="$last" class="line line-dashed b-b line-lg pull-in"></div>
              </div>
        -->
        <!--
                <div ng-repeat="jobTable in jobTables">
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{jobTable.jobName}}</label>
                        <div class="col-sm-10">
                            <select ui-jq="chosen" class="w-md" ng-model="jobTable.tableName">
                                <option  ng-selected="selectNCC(jobTable.tableName,item) ng-value=" item" ng-repeat="item in allBaseData.tablenames">{{item}}</option>
                            </select>

                        </div>
                    </div>
                    <div ng-show="$last" class="line line-dashed b-b line-lg pull-in"></div>
                </div>
        -->
        <!--
               <div ng-repeat="jobTable in jobTables">
                   <div class="line line-dashed b-b line-lg pull-in"></div>
                   <div class="form-group">

                       <label class="col-sm-2 control-label">{{jobTable.jobName}}<i style="color:darksalmon" class="fa fa-check" ng-show="jobTable.tableName!=undefined"></i></label>
                       <div class="col-sm-10">
                           <div class="input-group">
                               <select theme="bootstrap" ui-jq="chosen" ng-change="toChangeJobName(jobTable)" class="w-md" ng-model="jobTable.tableName">
                                   <option ng-disabled="jobTable.tableName != r.tableName && r.jobName !=undefined" ng-selected="selectNCC(jobTable.tableName,r.tableName)" ng-value="r.tableName" ng-repeat="r in allSelectTables">{{r.tableName}}</option>
                               </select>
                               <span class="input-group-btn">
                                   <button ng-click="toChangeJobName(jobTable,true)" class="btn btn-default">
                                       <span class="glyphicon glyphicon-trash"></span>
                                   </button>
                               </span>
                           </div>
                       </div>
                   </div>
                   <div ng-show="$last" class="line line-dashed b-b line-lg pull-in"></div>
               </div>

        -->
        <div ng-repeat="jobTable in jobTables">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><label ng-class="{'badge bg-success':jobTable.tableName!=undefined}">{{jobTable.jobName}}</label></label>
                <div class="col-sm-6">
                    <div class="input-group m-b">
                        <select ng-change="toChangeJobName(jobTable)" class="form-control m-b" ng-model="jobTable.tableName">
                            <option ng-disabled="jobTable.tableName != r.tableName && r.jobName !=undefined" ng-selected="selectNCC(jobTable.tableName,r.tableName)" ng-value="r.tableName" ng-repeat="r in allSelectTables">{{r.tableName}}</option>
                        </select>
                        <span class="input-group-btn">
                            <button ng-click="toChangeJobName(jobTable,true)" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="$last" class="line line-dashed b-b line-lg pull-in"></div>
        </div>


        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <span></span>
                <button ng-click="toSave()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>


</div>