<!-- list -->
<ul class="nav" ng-controller="mainNav">
     
    <div ng-repeat="menu in menus">
        <li class="line dk hidden-folded" ng-show="!$first"></li>
        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
          
                <span>{{menu.name}}</span>
         
       </li>
       <li ng-class="{active:$state.includes('app.page')}" ng-repeat="items in menu.childMenu">
           <a ui-sref="app.filejoblog">
               <span class="pull-right text-muted">
                   <i class="fa fa-fw fa-angle-right text"></i>
                   <i class="fa fa-fw fa-angle-down text-active"></i>
               </span>
               <i class="glyphicon glyphicon-file icon"></i>
               <span>{{items.name}}</span>
           </a>
            <ul class="nav nav-sub dk">
                <li class="nav-sub-header">
                    <a href>
                        <span  >{{items.name}}</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-repeat="item in items.childMenu">
                    <a ui-sref="app.charttpl({fold:item.name})">
                        <span>{{item.name}}</span>
                    </a>
                </li>

            </ul>
        </li>    
    </div>
  
    <li class="line dk hidden-folded"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.your_stuff.YOUR_STUFF">Your Stuff</span>
    </li>
    <li>
        <a ui-sref="app.page.profile">
            <i class="icon-user icon text-success-lter"></i>
            <b class="badge bg-success pull-right">30%</b>
            <span translate="aside.nav.your_stuff.PROFILE">Profile</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.docs">
            <i class="icon-question icon"></i>
            <span translate="aside.nav.your_stuff.DOCUMENTS">Documents</span>
        </a>
    </li>
</ul>
<!-- / list -->
